/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2020, 6:39:55 PM
    Author     : User
*/
html, body {
    margin: 0px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.header{
    width: calc(100% - 20px);
    height: 60px;
    padding: 10px;
    background-color: white;
    display: flex;
}

.logo{
    width: 15%;
    height: auto;
}

.title{
    color: #0066cc;
    margin-right: calc(100% - 520px);
    width: 40%;
    padding: 0;
}

.container-avatar {
    width: 30%;
}

/*.container-avatar img, .container-avatar img {
    display: inline-block;
}*/
.container-avatar .avatar-icon {
    width: 40%;
    display: left;
}
.container-avatar .avatar-icon img{
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.container-avatar h2{
    width: 50%;
 display: right;   
}
.button-header{
    border: none;
    background-color: transparent;
    outline: none;  
    margin: 13px 8px;
    font-weight: bold;
    font-size: 15px !important;
    width: 100px;
    float: right;
}

.button-header:hover{
    cursor: pointer;
}




.container-user-option{
    top: 63px;
    width: 15%;
}

.button-login{
    background-color: #2196F3;
    color: white;
}

.button-login:hover{
    background-color: #0b7dda;
}

.button-register{
    background-color: #ff9800;
    color: white;
}

.button-register:hover{
    background-color: #e68a00;
}

/* Full-width input fields */
input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.button-modal {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-modal:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 35px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto 0 auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.avatar-icon {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



