USE [master]
GO
/****** Object:  Database [Project_DBCLPM]    Script Date: 4/11/2020 10:24:15 PM ******/
CREATE DATABASE [Project_DBCLPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_DBCLPM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Project_DBCLPM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Project_DBCLPM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Project_DBCLPM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_DBCLPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_DBCLPM]
GO
/****** Object:  Table [dbo].[Info]    Script Date: 4/11/2020 10:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[username] [nvarchar](50) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[soDT] [nvarchar](50) NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[soCMND] [nvarchar](20) NOT NULL,
	[ngaySinh] [nvarchar](50) NOT NULL,
	[danToc] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[maTinh] [nvarchar](20) NULL,
	[mucLuong] [int] NOT NULL,
	[hinhThuc] [bit] NOT NULL,
	[trangThai] [bit] NULL,
 CONSTRAINT [PK_Info] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 4/11/2020 10:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[trangThai] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserFamily]    Script Date: 4/11/2020 10:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFamily](
	[name] [nvarchar](50) NOT NULL,
	[danToc] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[soCMND] [nvarchar](20) NOT NULL,
	[ngaySinh] [nvarchar](20) NOT NULL,
	[mainMember] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[soCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserFamily]  WITH CHECK ADD FOREIGN KEY([mainMember])
REFERENCES [dbo].[Info] ([username])
GO
USE [master]
GO
